<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Lineup Polo.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>2</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>1F5731D8EE934531A1EBEAE4BA0E4222BEBE92D3</string>
				<key>dateExpires</key>
				<string>05/01/23</string>
				<key>type</key>
				<string>Apple Development</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1.0</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>1F5731D8EE934531A1EBEAE4BA0E4222BEBE92D3</string>
						<key>dateExpires</key>
						<string>05/01/23</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>App.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>NUF88F75JQ</string>
						<key>name</key>
						<string>Lineup Polo Ltd</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1.0</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>1F5731D8EE934531A1EBEAE4BA0E4222BEBE92D3</string>
						<key>dateExpires</key>
						<string>05/01/23</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>Flutter.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>NUF88F75JQ</string>
						<key>name</key>
						<string>Lineup Polo Ltd</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>1F5731D8EE934531A1EBEAE4BA0E4222BEBE92D3</string>
						<key>dateExpires</key>
						<string>05/01/23</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>geocoding.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>NUF88F75JQ</string>
						<key>name</key>
						<string>Lineup Polo Ltd</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0.5</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>1F5731D8EE934531A1EBEAE4BA0E4222BEBE92D3</string>
						<key>dateExpires</key>
						<string>05/01/23</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>geolocator_apple.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>NUF88F75JQ</string>
						<key>name</key>
						<string>Lineup Polo Ltd</string>
					</dict>
					<key>versionNumber</key>
					<string>1.2.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>1F5731D8EE934531A1EBEAE4BA0E4222BEBE92D3</string>
						<key>dateExpires</key>
						<string>05/01/23</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>image_picker.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>NUF88F75JQ</string>
						<key>name</key>
						<string>Lineup Polo Ltd</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>1F5731D8EE934531A1EBEAE4BA0E4222BEBE92D3</string>
						<key>dateExpires</key>
						<string>05/01/23</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>maps_launcher.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>NUF88F75JQ</string>
						<key>name</key>
						<string>Lineup Polo Ltd</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>1F5731D8EE934531A1EBEAE4BA0E4222BEBE92D3</string>
						<key>dateExpires</key>
						<string>05/01/23</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>package_info_plus.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>NUF88F75JQ</string>
						<key>name</key>
						<string>Lineup Polo Ltd</string>
					</dict>
					<key>versionNumber</key>
					<string>0.4.5</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>1F5731D8EE934531A1EBEAE4BA0E4222BEBE92D3</string>
						<key>dateExpires</key>
						<string>05/01/23</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>path_provider_ios.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>NUF88F75JQ</string>
						<key>name</key>
						<string>Lineup Polo Ltd</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>1F5731D8EE934531A1EBEAE4BA0E4222BEBE92D3</string>
						<key>dateExpires</key>
						<string>05/01/23</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>sms_autofill.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>NUF88F75JQ</string>
						<key>name</key>
						<string>Lineup Polo Ltd</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>1F5731D8EE934531A1EBEAE4BA0E4222BEBE92D3</string>
						<key>dateExpires</key>
						<string>05/01/23</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>url_launcher_ios.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>NUF88F75JQ</string>
						<key>name</key>
						<string>Lineup Polo Ltd</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>NUF88F75JQ.com.example.lineupFlutterApp</string>
				<key>com.apple.developer.team-identifier</key>
				<string>NUF88F75JQ</string>
				<key>get-task-allow</key>
				<true/>
				<key>keychain-access-groups</key>
				<array>
					<string>NUF88F75JQ.com.example.lineupFlutterApp</string>
				</array>
			</dict>
			<key>name</key>
			<string>Runner.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>33028243-6313-4782-84d1-e229b4802c97</string>
				<key>dateExpires</key>
				<string>05/01/23</string>
				<key>name</key>
				<string>LineUp_Dev_Profile</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>NUF88F75JQ</string>
				<key>name</key>
				<string>Lineup Polo Ltd</string>
			</dict>
			<key>versionNumber</key>
			<string>1.0.3</string>
		</dict>
	</array>
</dict>
</plist>
